* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --preto: #000000;
    --azul-escuro: #4a90e2;
    --azul-claro: #88c6ee;
    --branco: #ffffff;
}

body {
    margin-top: 4rem;
}

header {
    margin-top: 6rem;
}

header h1 {
    color: var(--azul-escuro);
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
}

h1 {
    font-size: 1.75rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

h2 {
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

p {
    font-size: 0.90rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

section {
    scroll-margin-top: 5rem;
}

.margin-bottom {
    margin-bottom: 5rem;
}



.navbar {
    margin-left: 0;
    margin-right: 0;
    background-color: var(--branco);
}

.nav-item {
    margin-right: 2rem;
}

.container-fluid {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: var(--branco);
}

.custom-navbar {
    border-bottom: 2px solid var(--azul-claro);
    margin-bottom: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.pitstop-logo {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: var(--azul-escuro);
    font-size: 1.75rem;
}

.menu-item {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--preto);
    font-size: 0.90rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link {
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--azul-claro);
}

.nav-link.active {
    color: var(--azul-claro);
}



.arma {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-items: center;
    margin-bottom: 5rem;
    max-width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
}

.arma-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 600px;
}

.arma-video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 40rem;
}

.arma-video iframe {
    width: 100%;
    height: 20rem;
    border: 3px solid var(--azul-claro);
    border-radius: 1rem;
    box-sizing: border-box;
}

.arma h1 {
    text-align: justify;
}

.arma h1 {
    font-weight: 600;
    color: var(--azul-escuro);
    text-align: center;
}

.arma h2 {
    color: var(--azul-claro);
    text-align: center;
}

@media (max-width: 992px) {
    .arma {
        grid-template-columns: 1fr;
    }

    .arma-div {
        width: 100%;
        max-width: 600px;
    }

    .arma-video {
        margin: auto;
        width: 100%;
        max-width: 600px;
    }
}

@media (max-width: 768px) {
    .arma-div {
        padding: 0 1rem;
    }

    .arma-video {
        width: 100%;
    }

    .arma iframe {
        width: 100%;
    }
}



.funcionalidades {
    margin-bottom: 5rem;
}

.funcionalidades h1 {
    font-weight: 600;
    color: var(--azul-escuro);
    text-align: center;
    margin-bottom: 2rem;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card {
    border: 2px solid var(--azul-claro);
    border-radius: 10px;
    width: 100%; 
    max-width: 30rem; 
}

.card-title {
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
}

.card-text {
    text-align: justify;
}

@media (max-width: 768px) {
    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 1rem 0 1rem;
    }

    .card{
        max-width: 15rem;
    }
}



.card-text-invsest {
    text-align: center;
    margin: 0;
}

.sobre {
    background-color: var(--azul-escuro);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
}

.sobre-div {
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
    color: var(--branco);
}

@media (max-width: 768px) {
    .sobre {
        background-color: var(--azul-escuro);
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 5rem;
    }
    
    .sobre-div {
        text-align: center;
        color: var(--branco);
    }
}


.hardware {
    margin: 0 2rem 5rem 2rem;
}

.hardware h1 {
    font-weight: 600;
    color: var(--azul-escuro);
    text-align: center;
    margin-bottom: 2rem;
}

.accordion-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.accordion-item-hardware {
    width: 600px;
}

.accordion-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-body img {
    width: 50%;
    height: auto;
    max-width: 300px;
}

.accordion-left {
    align-items: left;
    padding: 0 1rem 1rem 3rem;
}

.accordion-titulo {
    align-items: left;
    padding: 1rem;
}

@media (max-width: 768px) {
    .accordion-item-hardware {
        width: 350px;
    }

    .hardware {
        margin: 0;
        padding: 0;
        margin-bottom: 5rem;
    }
}



.carrossel {
    margin: 0 2rem 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrossel h1 {
    color: var(--azul-escuro);
    text-align: center;
    font-weight: 600;
}

.carrossel-titulo {
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.carousel {
    max-width: 55rem;
}

.btn-arredondado {
    padding: 8px 15px;
    border-radius: 30px;
    border: 2px solid var(--azul-claro);
    background-color: #fff;
    color: #000;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-arredondado:hover {
    background-color: var(--azul-claro);
    color: var(--branco);
}

.carrossel-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}



.equipe {
    margin: 0 2rem 5rem 2rem;
}

.equipe h1 {
    font-weight: 600;
    color: var(--azul-escuro);
    text-align: center;
    margin-bottom: 2rem;
}

.equipe p {
    text-align: center;
}

.card-equipe {
    width: 10rem;
    height: 18rem;
    overflow: hidden;
}

.card-equipe img {
    background-color: var(--azul-claro);
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

@media (max-width: 992px) {
    .card-min {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem !important;
        padding: 0;
        margin: 0 auto 0 auto;
    }

    .card-equipe {
        padding: 0;
        margin: 0;
        width: 10rem;
    }
}

@media (max-width: 768px) {
    .card-min {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem !important;
        padding: 0;
        margin: 0 auto 0 auto;
    }

    .card-equipe {
        padding: 0;
        margin: 0;
        width: 10rem;
    }
}



footer {
    background-color: #3E86E0;
    color: white;
    padding: 3rem 0 0 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: auto;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    margin: 0 2rem;
}

.footer-left {
    grid-column: 1 / 2;
}

.footer-column h1 {
    font-size: 1.75rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.footer-h2 {
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.footer-links {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer-column ul {
    list-style: none;
    padding-left: 0;
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    border-top: 2px solid var(--azul-claro);
    padding-top: 10px;
    margin: 0 2rem;
}

.footer-bottom .left {
    text-align: left;
}

.footer-bottom .right {
    text-align: right;
}

.footer-baixo {
    color: var(--branco);
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

@media (max-width: 750px) {
    .footer-container {
        grid-template-columns: 1fr;
    }

    .footer-left,
    .footer-links {
        grid-column: 1 / -1;
        text-align: center;
    }

    .footer-links {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .footer-column {
        margin-bottom: 2rem;
    }

    .footer-bottom {
        grid-template-columns: 1fr;
    }

    .footer-bottom .left,
    .footer-bottom .right {
        text-align: center;
    }
}


.galeria {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 5rem;
}

.galeria-item {
    border: 2px solid var(--azul-claro);
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.galeria-item:hover {
    transform: scale(1.05);
}

.galeria-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    .galeria-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 480px) {
    .galeria-grid {
        grid-template-columns: 1fr;
    }
}


.header-contato {
    margin-bottom: 5rem;
}

.contato {
    margin-bottom: 5rem;
}

.accordion-contato {
    margin: 0 2rem 0 2rem;
}

.info {
    margin: 0 2rem 5rem 2rem;
}

.info h1 {
    font-weight: 600;
    color: var(--azul-escuro);
    text-align: center;
    margin-bottom: 2rem;
}

.info-card {
    width: 15rem;
    border: 2px solid var(--azul-claro);
    border-radius: 10px;
    height: auto;
}

.info-card p{
    text-align: center;
}

.card-img-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-img {
    margin-top: 5px;
    max-width: 80px;
    height: auto;
}

@media (max-width: 992px) {
    .info-min {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        justify-content: space-between;
        gap: 1rem !important;
        padding: 0;
        margin: 0 auto 0 auto;
    }
}

@media (max-width: 768px) {
    .info-min {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        justify-content: space-between;
        gap: 1rem !important;
        padding: 0;
        margin: 0 auto 0 auto;
    }
}

.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    max-width: 60rem;
    margin: 0 auto 5rem auto;
    box-sizing: border-box;
}

.forms {
    grid-column: 1;
}

.forms-logo {
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.forms-logo img {
    max-width: 80%;
    height: auto;
}

.form-group {
    margin-bottom: 0.5rem;
}

.row {
    margin-bottom: 0.5rem;
}

.form-control {
    border: 1px solid var(--azul-claro);
    border-radius: 4px;
}

.contact-medium {
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (max-width: 992px) {
    .contact-section {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .forms {
        grid-column: 1;
        justify-self: center;
    }

    .forms-logo {
        display: none;
    }
}

.arma-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.arma-img img {
    max-width: 350px;
    width: 100%;
    height: auto;
    border: 2px solid var(--azul-claro);
    border-radius: 10px;
    box-sizing: border-box;
}

@media (max-width: 992px) {
    .arma-img {
        justify-content: flex-end;
    }

    .arma-img {
        margin: auto;
        width: 50%;
    }
}

.plano {
    margin-bottom: 5rem;
}

.plano-div h1 {
    font-weight: 600;
    color: var(--azul-escuro);
    text-align: center;
    margin-bottom: 2rem;
}

.plano-div h2 {
    color: var(--azul-claro);
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-a {
    text-decoration: none;
    color: var(--preto);
    font-size: 0.90rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.card-a:hover {
    text-decoration: none;
    color: var(--azul-claro);
}

.construcao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
}

.construcao-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.construcao-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    width: 80%;
    min-height: 80%;
}

.construcao-video iframe {
    width: 100%;
    min-height: 40rem;
    border: 3px solid var(--azul-claro);
    border-radius: 1rem;
    box-sizing: border-box;
}

.construcao h1 {
    text-align: justify;
}

.construcao h1 {
    font-weight: 600;
    color: var(--azul-escuro);
    text-align: center;
}

.construcao h2 {
    color: var(--azul-claro);
    text-align: center;
}




.kids {
    margin-bottom: 5rem;
}

.kids h1 {
    color: var(--azul-escuro);
}

.kids h2 {
    color: var(--azul-claro);
}

.kids-div {
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
}

.kids-div p {
    margin-bottom: 2rem;
}

.card-container-kids {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card {
    border: 2px solid var(--azul-claro);
    border-radius: 10px;
    width: 30rem;
}

.card-title {
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
}

.card-text {
    text-align: justify;
}

@media (max-width: 992px) {
    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
